.experience-container{
    padding: 29px;
    border-radius: 8px; /* Rounded corners */
    margin: 20px auto; /* Center the container with margin */
    max-width: 900px; /* Maximum width for readability */
}
h2 {
    color: #524447;
    margin: 0;
    font-family: Rubik, sans-serif;
    font-size: 24px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
}
.proj-hr2{
    border: 1px dashed rgb(197, 197, 197);
    border-radius: 10px;
}
.proj-hr1{
    margin: 0;
    border: 2px solid;
    color: #524447;
}

h4 {
    color: #4c5776;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 18px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
}

h3 {
    color: #524447;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 18.72px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
}


p {
    color: #333; /* Dark grey text color */
    font-size: 17px; /* Adjust font size */
    line-height: 1.6; /* Line height for better readability */
    margin: 0; /* Adjust vertical spacing */
}
ul {
    
    margin-left: 20px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    color: #333;
}

ul li {
    margin: 10px 0;
    font-size: 17px;

}
.info-social{
    display: flex;
}
.icon{
    display: flex;
    align-items: center;
    }
    .all-icon{
    margin: 0;
    color: #7c7c7c;
    padding: 0;
    }

   .material-symbols-outlined  {
        font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
    }

    .exp-workInfo {
        margin: 0;
        padding: 0 53px 0 0;
    }
    p {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        line-height: 21px;
        margin: 10px 0 19px;
    }

