
.container {
    padding: 29px;
    border-radius: 8px; /* Rounded corners */
    margin: 20px auto; /* Center the container with margin */
    max-width: 900px; /* Maximum width for readability */
}


h2 {
    color: #524447;
    margin: 0;
    font-size: 24px; /* Adjust font size */
    font-family: Rubik, sans-serif;
    text-align: left; /* Center-align the heading */
}


hr {
    border: 0;
    height: 3px;
    background: rgba(65, 70, 69, 0.87);/* Light grey color for the horizontal rule */
    margin:0; /* Adjust vertical spacing */
}


p {
    color: #333; /* Dark grey text color */
    font-size: 17px; /* Adjust font size */
    line-height: 1.6; /* Line height for better readability */
    margin: 10px 0; /* Adjust vertical spacing */
    font-family: Roboto, sans-serif;
}
