.achievements-container {
    padding: 29px;
    border-radius: 8px; /* Rounded corners */
    margin: 20px auto; /* Center the container with margin */
    max-width: 900px; /* Maximum width for readability */
}

h2 {
    color: #524447;
    margin: 0;
    font-size: 24px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
    font-family: Rubik, sans-serif;
}
.proj-hr {
    margin: 0;
    border: 2px solid;
    color: #524447;
}

.proj-hr2{
    border: 1px dashed rgb(197, 197, 197);
    border-radius: 10px;
}

h4{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #524447;
    margin: 13px 0 0;
    font-family: Roboto, sans-serif;
}

p{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 21px;
    margin: 10px 0 19px;
    font-size: 17px;

}
div{
    display: block;
    unicode-bidi: isolate;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  }

  .achive-icon{
    color: #4c5776;
    padding-right: 23px;
    margin: 12px 0 0;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
  }

