.projects-container{
    padding: 29px;
    background-color: #f8f9fa; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 20px auto; /* Center the container with margin */
    max-width: 900px; /* Maximum width for readability */
}
h2 {
    color: rgba(11, 15, 14, 0.87);
    margin: 0;
    font-size: 24px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
    font-family: Rubik, sans-serif;
}
h4 {
    margin-bottom: 0;
    color: #524447;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}


p {
    color: #333; /* Dark grey text color */
    font-size: 17px; /* Adjust font size */
    line-height: 1.6; /* Line height for better readability */
    margin: 10px 0; /* Adjust vertical spacing */
    font-family: Roboto, sans-serif;
}

.proj-hr2{
    border: 1px dashed rgb(197, 197, 197);
    border-radius: 10px;
}
.proj-hr{
    margin: 0;
    border: 2px solid;
    color: #524447;
}

