.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equal-width columns */
    gap: 16px; /* Adjusts the space between grid items */
    padding: 16px; /* Adds padding around the grid container */
}

.col {
    background-color: #f8f9fa; /* Optional: Add background color to distinguish columns */
    padding: 30px; /* Optional: Add padding for spacing */
    border: 1px solid #dee2e6; /* Optional: Add border for visual separation */
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  