
<div class="container">
    <div>
        <app-header></app-header>
    </div>
    <div class="grid-container">

       <div class="gird-item">
        <div class="container">
            <app-summary></app-summary>
        </div>
       </div>

       <div class="gird-item">
        <div class="container">
            <app-project></app-project>
        </div>
       </div>
       <div class="gird-item">
        <div class="container">
            <app-experience></app-experience>
        </div>
       </div>

       <div class="gird-item">
        <div class="container">
            <app-achievements></app-achievements>
        </div>
       </div>
       <div class="gird-item">
        <div class="container">
            <app-education></app-education>
        </div>
       </div>
       <div class="gird-item">
        <div class="container">
            <app-skills></app-skills>
        </div>
       </div>
       <div class="gird-item">
        <div class="container">
            <app-course></app-course>
        </div>
       </div>
                   
       
        
    </div>
</div>