.grid-container {
    display: grid;
    grid-template-columns: auto auto; /* Creates two equal-width columns */
    gap: 10px; /* Adjusts the space between grid items */
    background-color: white;
    padding: 30px;
    
}

.grid-item {
    padding: 0 62px;
}

  .container {
    padding: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  