<h1> Akila Resume 2024</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container">
    <div>
        <app-header></app-header>
    </div>
    <div class="grid-container">
        
            <div class="col-md-6">
                <app-summary></app-summary>
            </div>
            <div class="col-md-6">
                <app-project></app-project>
            </div>
            <div class="col-md-6">
                <app-experience></app-experience>
            </div>
            <div class="col-md-6">
                <app-achievements></app-achievements>
            </div>
            <div class="col-md-6">
                <app-education></app-education>
            </div>
            <div class="col-md-6">
                <app-skills></app-skills>
            </div>
            <div class="col-md-6">
                <app-course></app-course>
            </div>

        
    </div>
</div>