
.skills-container{

    padding: 29px;
    border-radius: 8px; /* Rounded corners */
    margin: 20px auto; /* Center the container with margin */
    max-width: 900px; /* Maximum width for readability */
}

h2{
    color: #524447;
    margin: 0;
    font-size: 24px; /* Adjust font size */
    font-family: Rubik, sans-serif;
    text-align: left; /* Center-align the heading */
}

hr{
    margin: 0;
    border: 2px solid;
    color: #524447;
}
.skill-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: #333;
    box-shadow: #333;
}
.skill-item-name{
    border-bottom: 2px solid darkgray;
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
}


