.education-container {
    padding: 29px;
    border-radius: 8px; /* Rounded corners */
    margin: 20px auto; /* Center the container with margin */
    max-width: 900px; /* Maximum width for readability */
}


h2 {
    color: #524447;
    margin: 0;
    font-family: Rubik, sans-serif;
    font-size: 24px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
}
h4 {
    color: #4c5776;
    margin: 8px 0 5px;;
    font-family: Roboto, sans-serif;
    font-size: 18px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
}
h3{
    color: #524447;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-size: 18.72px; /* Adjust font size */
    text-align: left; /* Center-align the heading */
}

.proj-hr2{
    border: 1px dashed rgb(197, 197, 197);
    border-radius: 10px;
}
.proj-hr1{
    margin: 0;
    border: 2px solid;
    color: #524447;
}

p {
    color: #333; /* Dark grey text color */
    font-size: 17px; /* Adjust font size */
    line-height: 1.6; /* Line height for better readability */
    margin: 0; /* Adjust vertical spacing */
    font-family: Roboto, sans-serif;
}